@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400&display=swap');

body {
   font-family: 'Montserrat', sans-serif, Arial;
   font-size: 16px;
   color: black;
   background-color: white;
   text-align: center;
   margin: 0px;
}
a {
  text-decoration: none;
}
.name {
   margin: auto;
   width: 60%;
}
.sarah {
   padding: 40px 20px 40px 20px;
   font-weight: 400;
   font-size: 1em;
   color: #c9c9e4;
}

img {
   margin: auto;
   max-width: 100%;
   display: block;
}
.container-left, .container-right {

   width: 50%;
   height: auto;
   position: relative;
}
.container-left {
  float: left;
}

.container-right {
  float: right;
}

.image {
  width: 100%;
  height: auto;
}
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #000;
}
.container-left:hover .overlay, .container-right:hover .overlay {
  opacity: .6;
}
.text {
  color: white;
  font-size: 1.7em;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
