#scrollTopBtn {
   display: none; /* Hidden by default */
   position: fixed; /* Fixed/sticky position */
   bottom: 20px; /* Place the button at the bottom of the page */
   right: 10px; /* Place the button 30px from the right */
   z-index: 99; /* Make sure it does not overlap */
   border: none;
   outline: none;
   background-color: rgba(0, 0, 0, 0.2);
   color: black;
   cursor: pointer; /* Add a mouse pointer on hover */
   padding: 4px 10px 4px 10px;
   border-radius: 20px;
   font-size: 1em;
}
#scrollTopBtn:hover {
background-color: rgba(0, 0, 0, 0.6); /* Add a dark-grey background on hover */
}
