.highlighted {
   text-align: center;
	letter-spacing: 1.8px;
	color: #000000;
	text-decoration: none;
	position: relative;
	z-index: 1;
	display: inline-flex;
	padding-left: 10px;
	padding-bottom: 0px;
	padding-right: 10px;
}
.underline::before {
	content: "";
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	bottom: 2px;
	z-index: -1;
	will-change: width;
	transform: rotate(-2deg);
	transform-origin: left bottom;
	transition: width 0.1s ease-out;
	/* start, added to make it a thin line*/
	background-repeat: no-repeat; /*creates a stripe effect if removed, and size changed to .1em*/
	background-size: 100% 0.5em;/*creates a stripe effect if removed */
	background-position: 0 88%;
	/* end, added to make it a thin line*/
}
.underline:hover::before {
	width: 0;
	transition-duration: 0.25s;
}
/* originally, background-image: linear-gradient(to top, #e2ffc6 25%, transparent 40%); but doesn't work on mac */
.underline-color1::before {
	background-image: linear-gradient(to top, #c6e2ff, 100%, transparent 100%);
}
.underline-color2::before {
	background-image: linear-gradient(to top, #ffc6e2 100%, transparent 100%);
}
.underline-color3::before {
	background-image: linear-gradient(to top, #e2ffc6 100%, transparent 100%);
}
.underline-color4::before {
	background-image: linear-gradient(to top, #ffe3c6 100%, transparent 100%);
}
.underline-color5::before {
	background-image: linear-gradient(to top, #c7c6ff 100%, transparent 100%);
}
.underline-color6::before {
	background-image: linear-gradient(to top, #ffffc6 100%, transparent 41000%);
}
