@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400&display=swap');

body {
   font-family: 'Montserrat', sans-serif, Arial;
   font-size: 16px;
   color: black;
   background-color: #f1f1f1;
   text-align: center;
   margin: 0px;
}
a {
  text-decoration: none;
}
.name {
   margin: auto;
   width: 60%;
}
.sarah {
   padding: 40px 20px 40px 20px;
   font-weight: 400;
   font-size: 1em;
   color: #c9c9e4;
}
.logo:hover {
    opacity: 0.8;
    transition: .4s;
}

/*
.container-left, .container-right {
   width: 50%;
   height: auto;
   position: relative;
}
.container-left {
  float: left;
}

.container-right {
  float: right;
}
.main-thumbnail {
  width: 100%;
  height: auto;
  margin: auto;
  max-width: 100%;
  display: block;
}
.main-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #000;
}
.container-left:hover .main-overlay, .container-right:hover .main-overlay {
  opacity: .6;
}
.text {
  color: white;
  font-size: 1.7em;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
*/
* {
box-sizing: border-box;
}
/* Center website */
.main {
  max-width: 1500px;
  margin: auto;
}
.row {
  margin: 10px -16px;
}
/* Add padding BETWEEN each column */
.row,
.row > .column {
  padding: 8px;
}
/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 33.33%;
  display: none; /* Hide all elements by default */
}
/* Clear floats after rows */
.row:after {
  content: "";
  display: table;
  clear: both;
}
/* Content */
.content {
  background-color: white;
  padding: 10px;
}
/* The "show" class is added to the filtered elements */
.show {
  display: block;
}
/* Style the buttons */
.btn {
  border: none;
  outline: none;
  padding: 12px 16px;
  background-color: white;
  cursor: pointer;
}
.btn:hover {
  background-color: #ddd;
}

.btn.active {
  background-color: #666;
  color: white;
}
