.social-div {
    margin: auto;
    width: 60%;
    padding-bottom: 30px;
}

.social-div > a {
   color: white;
   padding: 10px 8px 10px 8px;
   font-size: 20px;
   margin-right: 20px;
   /*gap btwn icons ( the last icon must have inline style of 0px margin-right)*/
   width: 20px;
   height: 20px;
   text-decoration: none;
}
.social-div > a:visited {
   color: white;
}
.fa-youtube:hover {
   color: #FF0000;
}
.fa-twitch:hover {
   color: #6441A4;
}
.fa-github:hover {
   color: #333;
}
.fa-codepen:hover {
   color: black;
}
.fa-flickr:hover {
   color: #0063dc;
}
.fa-etsy:hover {
   color: #d5641c;
}
.fa-reddit-alien:hover {
   color: #ff4500;
}
.fa-instagram:hover {
   color: #c13584;
}
