.social-div {
    margin: auto;
    width: 60%;
    padding-top: 30px;
    padding-bottom: 30px;
}
.social-icon {
   display: inline-block;
   padding: 15px;
   margin-right: 20px;
   /*gap btwn icons ( the last icon must have inline style of 0px margin-right)*/
   width: 20px;
   height:20px;
   text-align: center;
   text-decoration: none;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
   /*text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;*/
}
.social-icon:hover {
    opacity: 0.4;
    transition: .8s;
/*https://codepen.io/sarahleedev/pen/wbwPrz*/
